header {
  background-color: #85abda;
}

h1 {
  font-family: Times, serif;
}

ul {
 
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 }
 
 li {
  float: right;
 }
 
 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }
 
 li a:hover {
  background-color: #111;
 }
nav {
  font-family: Times, serif;
  text-align: center;
}

main {
  background-color: #cdd4dd;
  font-family: Arial, sans-serif;
  text-align: center;
}

section {
  background-color: #cdd4dd;
}

form {
  background-color: #cdd4dd;
  line-height: 2;
}

footer{
  background-color: #85abda;
  font-family: Times, serif;
}